* {
    margin: 0;
    padding: 0;  
}

header,main,nav,footer {
    display: block;
    height: auto;      
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-image: url(img/fiogrid.jpg);
}

.container {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	width: 98%;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: stretch;
	align-items: stretch;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 2%;
}

/* @media (min-width: 576px) {
	.container {
		max-width: 540px;
  }
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
  }
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
  }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
  }
}
 */
.menu {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}

.menu-list {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	list-style: none;
}

.menu-row {
	display: inherit;
	padding-right: 0.5%;
}

.menu-link {
	display: inherit;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: #bfb1bf;
	font-weight: 600;
	text-decoration: none;
}

.menu-link:hover, .menu-link:focus {
	text-decoration: underline;
	color: #fff;
}

.frame {
    width: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.brand {
    width: 11em;
    height: auto;
    margin: 0 12px 0 0;
    padding: 12px;
}

.brand-link {
	width: 100%;
    height: auto;
    color: #fff;
}
